---
---

<header class="m-8">
	<nav>
		<h1 class="text-shade-dimmed"><a href="/">Hello, I'm <span class="text-shade-highlight font-semibold">Joey</span></a></h1>

		<div class="social-links"></div>
	</nav>
</header>
